.container {
  height: 505px;
  width: 100%;
  background-color: #d0e7f2;
  /* background-image: url("../../public/Pattern.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.search {
  z-index: 2;
  border: 1px solid #696969;
  position: absolute;
  top: 81px;
  height: 55px;
  width: 771px;
  background-color: #e9f2f7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-right: 27px;
}
.search input {
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #e9f2f7;
  font-size: 20px;
  width: 660px;

  color: rgba(0, 0, 0, 0.41);
}
.ratings {
  text-align: center;
  padding: 0 70px;
  width: 771px;
  height: 120px;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}
.ratings div {
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #023047;
  padding-top: 15px;
}
.ratings div:first-child {
  border-left: 2px #023047 solid;
  padding-left: 100px;
}
.ratings div:last-child {
  border-right: 2px #023047 solid;
  padding-right: 100px;
}
.ratings div span {
  display: block;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  opacity: 0.3;
  z-index: 1;
}
@media (max-width: 800px) {
  .container {
    height: 800px;
  }
  .search {
    width: 400px;
  }
  .search input {
    width: 200px;
  }
  .ratings {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ratings div:first-child {
    border-bottom: 2px #023047 solid;
    border-left: none;
    padding-left: 0;
  }
  .ratings div:last-child {
    border-top: 2px #023047 solid;

    border-right: none;
    padding-right: 0;
  }
}
@media (max-width: 430px) {
  .search {
    width: 300px;
  }
  .search input {
    width: 150px;
  }
}
