.container {
  height: 887px;
  width: 342px;
  background-color: #f4f2ea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.5;
}
@media (max-width: 958px) {
  .container {
    height: 200px;
  }
}
