.container {
  width: 700px;
  height: 380px;
  margin-top: 20px;
  padding: 14px 29px 0 20px;
  border-radius: 15px;

  color: #023047;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--white-color);
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header div {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 32px;
  font-weight: bold;
}
.header span {
  font-size: 24px;
  font-weight: bold;
}

.main {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main div {
  font-size: 24px;
  font-weight: bold;
}
.main span {
  font-size: 24px;
}
.footer {
  height: 66px;
  width: 100%;
  position: relative;
}
.footer button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 66px;
  width: 282px;
  background-color: var(--secondary-color);
  color: black;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.footer button:hover {
  opacity: 0.8;
  height: 66px;
}
.dashed {
  position: relative;
  bottom: 40px;
  border: 1px dashed var(--tertiary-color);
}
@media (max-width: 700px) {
  .container {
    width: 320px;
  }
  .header p {
    font-size: 14px;
  }
  .header span {
    font-size: 10px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .footer button {
    width: 240px;
  }
}
