.container {
  width: 700px;
  height: 380px;
  margin-top: 20px;
  /* padding: 14px 29px 0 44px; */
  border: 1px black solid;
  color: #023047;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--white-color);
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header div {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 32px;
  font-weight: bold;
}
.header span {
  font-size: 24px;
  font-weight: bold;
}
.main {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main div {
  font-size: 24px;
  font-weight: bold;
}
.main span {
  font-size: 24px;
}
.footer button {
  position: relative;
  bottom: 20px;
  right: 390px;
  height: 66px;
  width: 282px;
  background-color: var(--secondary-color);
  color: black;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.footer button:hover {
  opacity: 0.8;
}
.dashed {
  position: relative;
  top: 10px;
  border: 1px dashed var(--tertiary-color);
}
