.container {
  padding: 48px 78px 94px;
  background-color: #fffbf5;
  height: auto;
  border-radius: 15px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container input {
  background-color: #fffbf5;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  outline: none;
  padding-right: 8px;
}
.infoContainer {
  padding-top: 34px;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  gap: 16px;
}
.left textarea {
  width: 352px;
  height: 232px;
  text-align: top;
  background-color: #fffbf5;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding-top: 8px;
  padding-right: 8px;
  outline: none;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.right input {
  width: 150px;
  height: 40px;
}
.container label {
  display: block;
}
.bottom input {
  width: 130px;
  height: 40px;
  margin-left: 16px;
}
.fields {
  padding: 8px;
  min-width: 140px;
  width: fit-content;
  min-height: 40px;
  height: fit-content;
  background-color: rgba(13, 21, 24, 0.08);
  border-radius: 10px;
}
.fieldsText {
  padding: 8px;
  min-width: 140px;
  max-width: 330px;
  word-wrap: break-word;
  min-height: 40px;
  height: auto;

  background-color: rgba(13, 21, 24, 0.08);
  border-radius: 10px;
}
.container button {
  width: 200px;
  height: 30px;
  background-color: #fff6e8;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  -webkit-box-shadow: 6px 7px 22px -6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 6px 7px 22px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 6px 7px 22px -6px rgba(0, 0, 0, 0.32);
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}
