@font-face {
  font-family: "iran-yekan";
  font-style: normal;
  src: url("../public/fonts/IRANYEKANREGULAR.TTF");
}
@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: bold;
  src: url("../public/fonts/MORABBA-BOLD.TTF");
}
@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/MORABBA-HEAVY.TTF");
}
@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 200;
  src: url("../public/fonts/MORABBA-ULTRALIGHT.TTF");
}
@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/MORABBA-REGULAR.TTF");
}
@font-face {
  font-family: "iranAban";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/IRABAN.TTF");
}
:root {
  --primary-color: #208cb0;
  --secondary-color: #f9b025;
  --tertiary-color: #ed6624;
  --bg-color: #e9f2f7;
  --text-color: #0d1518;
  --white-color: #fffbf5;
}
body {
  direction: rtl;
  background-color: var(--bg-color);
  font-family: "iran-yekan";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
